body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe pelo menos a altura da viewport */
/*  background-color: rgba(0, 66, 229, 0.2); */
    font-family: 'pt-sans-regular', sans-serif;
}

main {
    flex-grow: 1; /* Faz o main ocupar o espaço disponível entre o header e o footer */
}

h1,h2,h3{
    font-family: 'PT Sans', sans-serif; /* Define a fonte PT Sans */
    font-weight: 700; /* Define o peso da fonte como bold (700 é equivalente a bold) */
}

p, li{
  font-family: 'pt-sans-regular', sans-serif;
}



/* Adicione outros estilos customizados aqui */

  :root {
      --amarelo-festa: #FFB127;
      --verde-festa: #00B020;
      --azul-festa: #0042E5;
      --vermelho-festa: #E10F17;
  }

  .row-bgamarelo{
    background-color: #FFB127;
  }
  .row-bgverde{
    background-color: #00B020; 
  }
  .row-bgazul{
    background-color: #0042E5; 
  }
  .row-bgvermelho{
    background-color: #E10F17; 
  }


.row-bgamareloalpha {
    background-color: rgba(255, 177, 39, 0.8); /* #FFB127 com 80% de opacidade */
}

.row-bgverdealpha {
    background-color: rgba(0, 176, 32, 0.8);   /* #00B020 com 80% de opacidade */
}

.row-bgazulalpha {
    background-color: rgba(0, 66, 229, 0.8);    /* #0042E5 com 80% de opacidade */
}

.row-bgazulalpha30 {
    background-color: rgba(0, 66, 229, 0.2);    /* #0042E5 com 80% de opacidade */
}

.row-bgvermelhoalpha {
    background-color: rgba(225, 15, 23, 0.8);  /* #E10F17 com 80% de opacidade */
}




.card-transparente {
    background-color: transparent; /* Remove o fundo branco padrão */
    border: none; /* Remove a borda, se desejar */
}

.card-transparente .card-body {
    background-color: rgba(255, 255, 255, 0.5); /* Fundo branco com 50% de transparência */
}





  .row-txtamarelo{
    color: #FFB127;
  }
  .row-txtverde{
    color: #00B020; 
  }
  .row-txtazul{
    color: #0042E5; 
  }
  .row-txtvermelho{
    color: #E10F17; 
  }
  .row-txtbranco{
    color: #FFFFFF; 
  }

  .header-festa {
      background-color: var(--amarelo-festa); /* Usando a variável */
      color: var(--azul-festa); /* Cor do texto */
  }

   /* Footer */
  .footer-festa {
      background-color: var(--amarelo-festa);
      color: #fff; /* Texto branco */
  }

   /* Botão */
  .btn-vermelho {
      background-color: var(--vermelho-festa);
      border-color: var(--vermelho-festa);
      color: #fff;
  }
  .btn-vermelho:hover{
      background-color: #fff;
      border-color: var(--vermelho-festa);
      color: var(--vermelho-festa);
  }

  /* Link */
  .link-azul {
      color: var(--azul-festa);
  }
  .link-azul:hover {
      text-decoration: underline;
  }
  .navbar-nav .nav-item .nav-link:hover {
    font-weight: bold;
}


#cab {
     background-color: rgba(138, 43, 226, 0.8); /* Com transparência (alpha) */
 }

 #corpo {
     background-color: rgba(138, 43, 226, 0.2); /* Com transparência (alpha) */
 }

 #lulina2{
    background-image: url('http://festaslulinas.com.br/img/lulinas2.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: cover;
    height: 432px;
 }

  #rodape {
     background-color: rgba(138, 43, 226, 0.8); /* Com transparência (alpha) */
 }

 .parallax-container {
            position: relative;
            width: 100%;
            height: 100vh; /* 100% da altura da viewport */
            overflow-x: hidden;
            overflow-y: auto;
        }

        .parallax-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 200vh; /* Altura maior que a do container para efeito parallax */
            background-image: url(img/festas.jpg); /* Substitua pelo caminho da sua imagem */
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }
  .bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-600 {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.pt-sans-regular {
  font-family: "PT Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", serif;
  font-weight: 700;
  font-style: italic;
}

.slackey-regular {
  font-family: "Slackey", serif;
  font-weight: 400;
  font-style: normal;
}

.animada{
  font-family: "Slackey", serif;
  font-weight: 400;
  font-style: normal;
}

.imagem-quem-somos {
    height: auto; /* Importante para manter a proporção */

}

.imagem-com-borda {
    border: 6px solid red; /* Define a borda */
    /* Outros estilos (opcional) */
    /* border-radius: 50%;  Se você quiser manter a imagem circular, adicione border-radius */
}




